*{
    margin: 0;
    border:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
}

body{
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 350px repeat(3, 1fr);
    grid-template-rows: auto /*200px*/ 50px;
    grid-template-areas: "header main main main"
                         "header main main main"
                         "header main main main"
                         "header main main main"
                         "header main main main"
                         "header main main main"
                         "header main main main"
                         /* "header aside aside aside" */
                         "footer footer footer footer";
}

header {
    grid-area: header;
    background:black;
    font-size: 20px;
    font-weight: 50px;
    text-transform: uppercase;
    padding-left: 5px;
    margin: 0;
    justify-items: center;
}
header img {
    margin: 20px;
    /* width: 110% */
}

.fixed {
    position: fixed
}

header nav ul li a {
    color: white;
    padding-bottom: 10px;
}

header nav ul li a:hover{
    color: red;
}

.menu{
    margin-bottom: 25px;
}

.menu ul li{
    display: flex;
    flex-direction: column;
}

.socialmedia ul li {
    font-size: 25px;
    padding-right: 8px;
    display: inline-block;
}

main {
    grid-area: main;
    display: grid;
    width: 100%;
    height: auto;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 400px);
    grid-template-areas:"one one one"
                        "one one one"
                        "three five five "
                        "two two four"
                        "six six seven"
                        "six six eight"
                        "six six eight"
                        "nine ten ten";
}

.one {
    grid-area: one;
    background-image: url(imágenes/Polux\ -\ Estatua\ angel\ -\ Tropical.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.two{
    grid-area: two;
    background-image: url(imágenes/Pegaso-sin\ logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.three{
    grid-area: three;
    background-image: url(imágenes/Polux\ -\ Fondo\ plumas\ sin\ logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.four{
    grid-area: four;   
    background-image: url(imágenes/Polux\ -\ Fondo\ ocaso.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

.five{
    grid-area: five;
    position: relative;
    overflow: hidden;
    background-image: url(imágenes/Q.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

#qimagen{
    position: absolute;
    display: block;
    transition: transform 0.4s;
}

.five:hover #qimagen{
    transform: translateX(-800px)
}

#quienes{
    height: 400px;
    background: black;
    color: white;
    padding: 35px 50px 35px 50px;
}

#quienes h1{
    font-size: 40px;
    margin: 0px 0px 10px 0px;
}

#quienes h2{
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}

#quienes p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 17px;
}

.six{
    grid-area: six;
    background-image: url(imágenes/Polux\ -\ Angeles\ de\ Manga.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

.seven {
    grid-area: seven;
    background-image: url(imágenes/Polux\ -\ David\ &\ ElDorado_2.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

.eight {
    grid-area: eight;
    background-image: url(imágenes/Kola\ Polux.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

.nine {
    grid-area: nine;
    background-image: url(imágenes/Polux\ -\ Columnas.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

.ten {
    grid-area: ten;
    position: relative;
    overflow: hidden;
    background-image: url(imágenes/Contactanos.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

#cimagen{
    position: absolute;
    display: block;
    transition: transform 0.4s;
}

.ten:hover #cimagen{
    transform: translateX(-800px)
}

#contacto{
    height: 400px;
    background: black;
    color: white;
    padding: 100px;
}

.ten form {
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.25fr 2fr 1fr 1fr);
    grid-gap: 15px;
    grid-template-areas: "nombre email email"
                         "mensaje mensaje texto"
                         "mensaje mensaje texto"
                         "mensaje mensaje enviar"
}

.ten .message {
    grid-area: mensaje;
    height: 150px;
    flex-grow: 6;
}

.ten .casillero{
    height: 25px;
}

.ten .nombre{
    grid-area: nombre;
}

.ten. .email{
    grid-area: email;
}

.ten .message {
    text-align: start;
}

.ten p {
    grid-area: texto;
    font-family: 'Courier New', Courier, monospace;
}

.ten .enviar {
    text-transform: uppercase;
}

.ten .enviar:hover{
    color: white;
    background-color:red;
    cursor: pointer;
}

/* aside{
    grid-area: aside;
    background: black;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
} */

footer{
    grid-area: footer;
    display: flex;
    background: black;
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin:0
}

footer p{
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;
    font-size: 15px;
    padding: 20px;
}

@media screen and (max-width: 768px){

header {
   width: 100%;
}
header img {
    scale: 50%;
}

body{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100px auto /*200px*/ 50px;
    grid-template-areas: "header header"
                         "main main"
                         "main main"
                         "main main"
                         "main main"
                         "main main"
                         "main main"
                         /*"aside aside" */
                         "footer footer";
}

main {
    grid-template-columns:  repeat(2, 50%);
    grid-template-rows: auto;
    grid-template-areas:"one one"
                        "one one"
                        "five five"
                        "two two"
                        "three four"
                        "six seven"
                        "six eight"
                        "six eight";
}

main img{
    background-size: contain;
}

footer{
    flex-direction: column;
}

footer h1{
    padding: 5px 10px 0px 10px ;
}

footer p{
    padding: 0px 5px 5px 10px ;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
}