*{
    margin: 0;
    border:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
}

body{
    display: grid;
    gap: 0px;
    grid-template-columns: 0.75fr repeat(3, 1fr);
    grid-template-rows: auto /*200px*/ 50px;
    grid-template-areas: "header main main main"
                         "header main main main"
                         "header main main main"
                         "header main main main"
                         "header main main main"
                         "header main main main"
                         "header main main main"
                         /* "header aside aside aside" */
                         "footer footer footer footer";
}

header {
    grid-area: header;
    background:black;
    font-size: 20px;
    font-weight: 50px;
    text-transform: uppercase;
    padding-left: 5px;
    margin: 0;
    justify-items: center;
}
header img {
    margin: 20px;
}

header nav ul li a {
    color: white;
    padding-bottom: 10px;
}

header nav ul li a:hover{
    color: red;
}

.menu{
    margin-bottom: 25px;
}

.menu ul li{
    display: flex;
    flex-direction: column;
}

.socialmedia ul li {
    font-size: 25px;
    padding-right: 8px;
    display: inline-block;
}

main {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-gap: 0px;
    grid-template-columns:  repeat(3, 33.33%);
    grid-template-rows: auto;
    grid-template-areas:"one one one"
                        "one one one"
                        "three five five "
                        "two two four"
                        "six six seven"
                        "six six eight"
                        "six six eight"
                        "nine ten ten";
}

.one {
    grid-area: one;
    /* background-position: center;
    background-size: cover;
    background-image: url("imágenes/Polux - Estatua angel - Tropical.jpg") */
}

.two{
    grid-area: two;
    /* background-image: url("/imágenes/Polux\ -\ Fondo\ plumas\ sin\ logo.jpg");
    background-position: center;
    background-size: cover; */
}

.three{
    grid-area: three;
    /* background-image: url("https://www.fillmurray.com/640/36");
    background-position: center;
    background-size: cover; */
}

.four{
    grid-area: four;
    /* background-image: url("https://www.fillmurray.com/640/360");
    background-position: center;
    background-size: cover; */
}

.five{
    grid-area: five;
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden
}

#qimagen{
    width: 800px;
    height: 400px;
    position: absolute;
    display: block;
    transition: all 1s ease-in-out;
}

.five:hover #qimagen{
    left: -800px;
}

#quienes{
    width: 800px;
    height: 400px;
    background: black;
    color: white;
    padding: 35px 50px 35px 50px;
}

#quienes h1{
    font-size: 40px;
    margin: 0px 0px 10px 0px;
}

#quienes h2{
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}

#quienes p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 17px;
}

.six{
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.ten {
    grid-area: ten;
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden
}

#cimagen{
    width: 800px;
    height: 400px;
    position: absolute;
    display: block;
    transition: all 1s ease-in-out;
}

.ten:hover #cimagen{
    left: -800px;
}

#contacto{
    width: 800px;
    height: 400px;
    background: black;
    color: white;
    padding: 35px 50px 35px 50px;
}

.ten form {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.ten .message {
    width: 60%;
    flex-grow: 6;
}

.ten p {
    font-family: 'Courier New', Courier, monospace;
}


/* aside{
    grid-area: aside;
    background: black;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
} */

footer{
    grid-area: footer;
    display: flex;
    background: black;
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin:0
}

footer p{
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;
    font-size: 15px;
    padding: 20px;
}

@media screen and (max-width: 768px){

header {
   width: 100%;
}
header img {
    scale: 50%;
}

body{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100px auto /*200px*/ 50px;
    grid-template-areas: "header header"
                         "main main"
                         "main main"
                         "main main"
                         "main main"
                         "main main"
                         "main main"
                         /*"aside aside" */
                         "footer footer";
}

main {
    grid-template-columns:  repeat(2, 50%);
    grid-template-rows: auto;
    grid-template-areas:"one one"
                        "one one"
                        "five five"
                        "two two"
                        "three four"
                        "six seven"
                        "six eight"
                        "six eight";
}

main img{
    background-size: contain;
}

footer{
    flex-direction: column;
}

footer h1{
    padding: 5px 10px 0px 10px ;
}

footer p{
    padding: 0px 5px 5px 10px ;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
}