html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
//parametros

body {
    width: 100vw;
    overflow: hidden; 
    display: flex;
    flex-direction: row;
}
header {
	grid-area: header;
	background: black;
	font-size: 20px;
	text-transform: uppercase;
	padding-left: 5px;
	margin: 0;
    justify-items: center;
    height: 100vh;
    width: 20vw;
    position: fixed;
	img {
		margin: 20px;
		scale: 50%;
	}
	nav {
		ul {
			li {
				a {
					color: white;
					padding-bottom: 10px;
					&:hover {
						color: red;
					}
				}
			}
		}
	}
}
.menu {
	margin-bottom: 25px;
	ul {
		li {
			display: flex;
			flex-direction: column;
		}
	}
}
.socialmedia {
	ul {
		li {
			font-size: 25px;
			padding-right: 8px;
			display: inline-block;
		}
	}
}
main {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 80vw;
}
//content
.one {
    background-image: url("../imágenes/Polux\ -\ Estatua\ angel\ -\ Tropical.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.two {
	grid-area: two;
}
.three {
	grid-area: three;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
	width: 800px;
	height: 400px;
	position: relative;
	overflow: hidden;
	&:hover {
		#qimagen {
			left: -800px;
		}
	}
}
#qimagen {
	width: 800px;
	height: 400px;
	position: absolute;
	display: block;
	transition: all 1s ease-in-out;
}
#quienes {
	width: 800px;
	height: 400px;
	background: black;
	color: white;
	padding: 35px 50px 35px 50px;
	h1 {
		font-size: 40px;
		margin: 0px 0px 10px 0px;
	}
	h2 {
		font-size: 30px;
		margin: 10px 0px 10px 0px;
	}
	p {
		font-family: 'Courier New', Courier, monospace;
		text-align: justify;
		font-size: 17px;
	}
}
.six {
	grid-area: six;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.ten {
	grid-area: ten;
	width: 800px;
	height: 400px;
	position: relative;
	overflow: hidden;
	&:hover {
		#cimagen {
			left: -800px;
		}
	}
	form {
		font-family: 'Courier New', Courier, monospace;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-around;
	}
	.message {
		width: 60%;
		flex-grow: 6;
	}
	p {
		font-family: 'Courier New', Courier, monospace;
	}
}
#cimagen {
	width: 800px;
	height: 400px;
	position: absolute;
	display: block;
	transition: all 1s ease-in-out;
}
#contacto {
	width: 800px;
	height: 400px;
	background: black;
	color: white;
	padding: 35px 50px 35px 50px;
}
footer {
	grid-area: footer;
	display: flex;
	background: black;
	color: white;
	font-size: 8px;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	margin: 0;
	flex-direction: column;
	p {
		font-family: 'Courier New', Courier, monospace;
		text-transform: lowercase;
		font-size: 15px;
		padding: 20px;
		padding: 0px 5px 5px 10px;
	}
	h1 {
		padding: 5px 10px 0px 10px;
	}
}